@charset "utf-8";
/* CSS Document */
html {
    margin: 0 auto;
    max-width: 2500px;
    background-image: url("logo1.png");
    /*background-color: #f2f2f2; */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center top;
}
body {
  height: 80%;
  margin: 0 auto;
  padding: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
	color: #065176;
}



<style>
.countup {
  text-align: center;
  margin-bottom: 20px;
}
.countup .timeel {
  display: inline-block;
  padding: 39px;
  background: #8A8A8C;
  font-size: 45px;
  margin: 0;
  color: white;
  min-width: 9.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #065176;
  color: white;
}
</style>

/*

#065176 Blue

#8A8A8C Grey

*/
